In [1]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [7]:
channel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1395 entries, 0 to 1394
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   channelid    1395 non-null   object
 1   subcnt       1395 non-null   int64
 2   viewcnt      1395 non-null   int64
 3   videocnt     1395 non-null   int64
 4   ct           1395 non-null   datetime64[ns]
 5   channelname  1395 non-null   object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 65.5+ KB

In [3]:
channel.ct = pd.to_datetime(channel.ct)

In [13]:
result = channel[channel.ct >= pd.to_datetime('2021-10-03')].sort_values(['channelname','ct']).drop_duplicates('channelname',keep='first')
result[['subcnt','channelname']]

       subcnt      channelname
1276    54300    Balming Tiger
1155   471000    곽토리 kwak tori
901      7520       김농밀의 농밀한 삶
12    1330000              꽈뚜룹
393    922000           논리왕 전기
1028    10100      릴펄 Lilpearl
139    257000            야전삽짱재
520     55000  와글와글 WagleWagle
647    215000              조나단
266    322000       츄정ChuJeong
774     14900          형사!탐정되다

In [16]:
channel['channelname'].value_counts()

channelname
꽈뚜룹                131
야전삽짱재              127
츄정ChuJeong         127
논리왕 전기             127
와글와글 WagleWagle    127
조나단                127
형사!탐정되다            127
김농밀의 농밀한 삶         127
릴펄 Lilpearl        127
곽토리 kwak tori      127
Balming Tiger      121
Name: count, dtype: int64

In [27]:
bef= channel[channel.ct.dt.date.astype('str') == '2021-10-03'].drop_duplicates('channelname',keep='first')[['subcnt','channelname']]
aft = channel[channel.ct.dt.date.astype('str') == '2021-11-01'].drop_duplicates('channelname',keep='last')[['subcnt','channelname']]

In [32]:
pd.concat([bef.reset_index(drop=True), aft.reset_index(drop=True)],axis=1)

     subcnt      channelname   subcnt      channelname
0   1330000              꽈뚜룹  1400000              꽈뚜룹
1    257000            야전삽짱재   268000            야전삽짱재
2    322000       츄정ChuJeong   323000       츄정ChuJeong
3    922000           논리왕 전기   911000           논리왕 전기
4     55000  와글와글 WagleWagle    55000  와글와글 WagleWagle
5    215000              조나단   227000              조나단
6     14900          형사!탐정되다    25200          형사!탐정되다
7      7520       김농밀의 농밀한 삶     9060       김농밀의 농밀한 삶
8     10100      릴펄 Lilpearl    21100      릴펄 Lilpearl
9    471000    곽토리 kwak tori   469000    곽토리 kwak tori
10    54300    Balming Tiger    56800    Balming Tiger

In [35]:
video.videoname = video.videoname.str.strip()

In [37]:
video.videoname.unique()

array(['공범 EP1', '공범 EP2', '공범 EP3', '공범 EP4', '공범 EP5', '공범 EP7',
       '공범 EP6', '공범 EP8'], dtype=object)

In [51]:
ep_one = video[video.videoname == '공범 EP1'].sort_values('ct').reset_index(drop=True)
ep_one

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,공범 EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,공범 EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1

In [53]:
pd.to_datetime(ep_one['ct']).diff()

0                  NaT
1      0 days 00:09:59
2      0 days 00:10:01
3      0 days 00:10:00
4      0 days 00:10:00
             ...
3487   0 days 00:10:00
3488   0 days 00:09:59
3489   0 days 00:10:00
3490   0 days 00:09:59
3491   0 days 00:10:01
Name: ct, Length: 3492, dtype: timedelta64[ns]

In [57]:
ep_one['del_time'] = pd.to_datetime(ep_one['ct']).diff().dt.total_seconds()

In [58]:
ep_one[(ep_one.del_time <= 300) | (ep_one.del_time >= 1200)]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,del_time
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,51694.0
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,0.0
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1,1801.0